<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Cloudflare App with Astro | Atyantik Technologies</title>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:100&display=swap"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
